.cpflexxcolfac {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  overflow-y: scroll;
  height: 90%;
  justify-content: flex-start;
}
.useridclass {
  margin: 10px;
}
.userid {
  color: #fd8725;
}
.cpfield {
  display: flex;
  width: 80%;
  align-items: baseline;
  margin: 5px;
  justify-content: space-between;
}
label {
  font-weight: bold;
}
.inflexxcol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.interestlist {
  margin: 5px;
  color: #fd8725;
  font-weight: bold;
}
input {
  padding: 10px;
}
.cpwrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}
.cpwrapcol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
}
label {
  width: 25%;
}
button {
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  background-color: rgb(32, 177, 255);
  color: black;
  border: 2px solid black;
  font-size: 20px;
}
